.main-form {
  gap: 1rem;
}
html {
  background: black;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: transparent;
}

.apresentacao{
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
}
.container-fluid{
  background-color: #efeaea;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:2rem;
  border-radius:8px;

}

#Matrix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}